<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>WebSitesClosedMostOfTheTime</servlet-name>
		<servlet-class>com.lehphyro.btracs.BTracsWebSitesClosedMostOfTheTimeServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XtremeSpeedsLoginServlet</servlet-name>
		<servlet-class>com.lehphyro.xtremespeeds.XtremeSpeedsLoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>WebSitesClosedMostOfTheTime</servlet-name>
		<url-pattern>/btracs-closed-most-of-the-time</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XtremeSpeedsLoginServlet</servlet-name>
		<url-pattern>/xtreme-speeds-login</url-pattern>
	</servlet-mapping>
</web-app>
